<%= include('entity-management') %>

<div id="new_customer_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCustomerModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title">Nuevo cliente</h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


<div id="invoice_line_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="invoiceLineModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title">Línea de factura</h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.customer_invoices.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
<%=t.customer_invoices.description%>
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible" class="form-inline">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input form-control"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <button class="btn btn-primary search-entity-button" type="button"><i class="si si-magnifier"></i></button>
       <select name="invoice_status" class="search-entity-control form-control">
         <option value="all">Todas</option>
         <option value="draft">Borradores</option>
         <option value="invoice">Facturas emitidas</option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table table-striped">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.invoices.table.date %></th>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.invoices.table.number %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.invoices.table.customer %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.invoices.table.concept %></th>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.invoices.table.total %></th>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.invoices.table.invoice_status %></th>        
         <th class="table-header-title" scope="col" style="width:10%"><%= t.invoices.table.invoice_type %></th>
         <th class="table-header-title text-center" scope="col" style="width:5%"><%= t.invoices.table.invoice_sent %></th>
         <th class="table-header-title" scope="col" style="width: 5%">&nbsp;</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <%%= entity.name %> <%%= entity.date.toString('yyyy-MM-dd') %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <%% if (entity.invoice_status == 'draft'){%><%%}else{%><%%= entity.serie %> <%%= entity.number %><%%}%>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <%%= entity.customer.name %> <%%= entity.customer.surname %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%=index%>">
        <%%= entity.concept %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%=index%>">
        <%%= new Number(entity.total).toFixed(2) %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%=index%>">
        <%% if (entity.invoice_status == 'draft') { %>
            <span class="label label-default"><%= t.invoices.status.draft %></span>
        <%% } else if (entity && entity.invoice_status == 'invoice') { %>
        	<span class="label label-success"><%= t.invoices.status.invoice %></span>
        <%% } %> 	
      </td>  
      <td class="table-cell element-navigation-detail" rel="<%%=index%>">
        <%% if (entity.invoice_type == 'invoice') { %>
          <span class="label label-info"><%= t.invoices.type.invoice %></span>
        <%% } else if (entity.invoice_type == 'payment') { %>
          <span class="label label-danger"><%= t.invoices.type.payment %></span>
        <%% } %>  	
      </td>      
      <td class="table-cell text-center element-navigation-detail" rel="<%%=index%>">
        <%%= entity.invoice_sent ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %>      
      </td>    
      <td class="table-cell element-navigation-detail" rel="<%%=index%>"></td>          
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <%% if (entity) { %>
              <div class="block-header bg-gray-lighter">
                  <h3 class="block-title pull-left" style="position:relative; top: 5px">
                    <%% if (entity.invoice_status == 'draft') {%>
                       #<%= t.invoices.status.draft %>
                    <%%}else{%>
                       #<%%=entity.serie%><%%=entity.number%>
                    <%%}%></h3>
                  <div class="pull-right">
                  <%% if (entity.invoice_status == 'draft') { %>
                  <a href="#" id="generate_bill_btn"
                     class="btn btn-success" role="button"><%= t.invoices.form.invoicing %></a>
                  <%% } %>   
                  <a href="/admin/invoices/customer-invoices/<%%=entity.id%>.pdf" 
                     class="btn btn-primary" role="button" target="blank"><i class="fa fa-print"></i>&nbsp; <%= t.invoices.form.print %></a> 
                  <button id="send_invoice_btn" class="btn btn-default" role="button"><i class="fa fa-envelope-o"></i>&nbsp;  <%= t.invoices.form.send_invoice %></button> 
                  </div>                       
                </h3>
              </div>     
              <%% } else { %>
              <div class="block-header bg-gray-lighter">
                  <h3 class="block-title pull-left" style="position:relative; top: 5px">#<%= t.invoices.status.draft %></h3>
              </div>                 
              <%% } %>   

              <div class="block-content">
                  <form name="element" class="form-horizontal" method="POST" autocomplete="off">

                      <%% if (entity) { %>
                      <input type="hidden" name="id" value="<%%=entity.id%>"/>
                      <%% } %>

                      <!-- Type and serie -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                             <label class="col-md-12"><%= t.invoices.form.type.label %></label>
                             <div class="col-md-12">
                               <select id="invoice_type" name="invoice_type" class="form-control"
                                       <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>>
                                 <option value="invoice" <%% if (entity && entity.invoice_type == 'invoice') { %>selected<%%}%>><%= t.invoice_type.invoice %></option>
                                 <option value="payment" <%% if (entity && entity.invoice_type == 'payment') { %>selected<%%}%>><%= t.invoice_type.payment %></option>
                               </select>
                             </div>
                          </div> 
                        </div>    
                        <% unless @series.empty? %>
                        <div class="col-md-6">
                          <div class="form-group">
                             <label class="col-md-12"><%= t.invoices.form.serie.label %></label>
                             <div class="col-md-11">
                               <select id="serie" name="serie" class="form-control"
                                 <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>>
                                 <% @series.each do |serie| %>
                                   <option value="<%=serie%>" <%% if (entity && entity.serie == '<%=serie%>') { %>selected<%%}%>><%=serie%></option>
                                 <% end %>
                               </select>                            
                             </div>
                          </div>
                        </div>  
                        <% end %>
                      </div>

                      <!-- Date and concept -->
                      <div class="row">
                        <div class="col-md-6">
  	                      <div class="form-group">
  	                         <label class="col-md-12"><%= t.invoices.form.date.label %></label>
  	                         <div class="col-md-12">
  	                           <input type="text" maxlength="10" id="date" name="date" class="form-control" autocomplete="off" <%% if (entity) {%> value="<%%=entity.date%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
  	                         </div>
  	                      </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                             <label class="col-md-12"><%= t.invoices.form.concept.label %></label>
                             <div class="col-md-11">
                               <select name="concept" class="form-control"
                                 <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>>
                                 <option value=""><%= t.invoices.form.select_concept %></option>
                                 <% @concept.classifier_terms.each do |term| %>
                                   <option value="<%=term.name%>" <%% if (entity && entity.concept == '<%=term.name%>') { %>selected<%%}%>><%=term.name%></option>
                                 <% end %>
                               </select>  
                               <textarea rows="1" cols="50" name="concept" class="form-control" <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>><%% if (entity) {%><%%=entity.concept%><%%}%></textarea>
                             </div>
                          </div>    
                          <div class="form-group">
                            <label class="css-input switch switch-sm switch-primary" style="margin-left: 15px">
                                <input type="checkbox" id="manual_concept" checked=""><span></span> <%= t.invoices.form.manual_concept.label %>
                            </label>
                          </div>                                                   
                        </div>
                      </div>
                          
                      <!-- Customer -->
                      <div class="row">
                        <div class="col-md-6">                            
  	                      <div class="form-group">
  	                         <label class="col-md-12"><%= t.invoices.form.customer.label %></label>
  	                         <div <%% if (!entity || (entity && entity.invoice_status == 'draft')) { %>class="col-md-9"<%%}else{%>class="col-md-12"<%%}%>>
  	                           <input type="hidden" id="customer_id" name="customer_id" <%% if (entity) { %>value="<%%=entity.customer_id%>"<%%}%>/>
  	                           <input type="text" id="customer" name="customer" class="form-control" autocomplete="off" <%% if (entity) {%> value="<%%=entity.customer.name%> <%%=entity.customer.surname%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
  	                         </div>
                             <%% if (!entity || (entity && entity.invoice_status == 'draft')) { %>
  	                         <div class="col-md-3">
  	                           <a id="new_customer_button" href="#" class="pull-right" style="position: relative; top: 5px"><%= t.invoices.form.new_customer %></a>
  	                         </div>
                             <%% } %>
  	                      </div>
                        </div>  
                          <div class="col-md-6">
    	                      <div class="form-group">
    	                         <label class="col-md-12"><%= t.invoices.form.customer_document_id.label %></label>
    	                         <div class="col-md-12">
    	                           <input type="text" id="customer_document_id" name="customer_document_id" class="form-control" autocomplete="off" 
    	                              <%% if (entity) {%> value="<%%=entity.customer_document_id%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
    	                         </div>
    	                      </div>	          
                          </div>
                      </div>    

                      <!-- Document reference -->
                      <div class="row">
                        <div class="col-md-6">     

                          <div class="form-group">
                             <label class="col-md-12"><%= t.invoices.form.reference_source.label %></label>
                             <div class="col-md-12">
                               <select id="reference_source" name="reference_source" class="form-control"
                                 <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>>
                                 <option value="" <%%if (entity && (entity.reference_source == null || entity.reference_source == '')){%>selected<%%}%>><%=t.invoices.form.reference_source.no_source%></option>
                                 <% @sources.each do |source| %>
                                   <option value="<%=source%>" <%% if (entity && entity.reference_source == '<%=source%>') { %>selected<%%}%>><%=t.invoices_integration[source]%></option>
                                 <% end %>
                               </select>
                             </div>
                          </div>     
                        </div>
                        <div class="col-md-6">                                    
  	                      <div class="form-group">
  	                         <label class="col-md-12"><%= t.invoices.form.reference.label %></label>
  	                         <div class="col-md-12">
  	                           <input type="text" maxlength="10" id="reference" name="reference" class="form-control" <%% if (entity) {%> value="<%%=entity.reference%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
  	                         </div>
  	                      </div>              
                        </div>
                      </div>            
    	                                
                      <div class="form-group">
	                        <div class="col-md-12">
  	                        <%% if (entity) { %>
                              <%% if (entity.invoice_status == 'draft') { %>
                              <hr>
  	                          <input type="button" class="pull-right btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                              <%% } %>
  	                        <%% } else { %>
                              <hr>
  	                          <input type="button" class="pull-right btn btn-sm btn-primary create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
  	                        <%% } %>
                          </div>
                      </div>
                  </form>
                  <br><br>
              </div>
            </div>
          </div>
        </div>
 
        <%% if (entity) { %>
        <!-- Lines -->
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.invoices.form.lines %></h3>
              </div>
              <div class="block-content">
                <div>
                    <table class="table table-borderless table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th class="text-left"><%= t.invoices.form.invoice_line_table.concept %></th>
                                <th class="text-right" style="width: 100px;"><%= t.invoices.form.invoice_line_table.quantity %></th>
                                <th style="width: 100px;" class="text-center"><%= t.invoices.form.invoice_line_table.vat_percentage %></th>
                                <th class="text-right" style="width: 10%;"><%= t.invoices.form.invoice_line_table.price_without_taxes %></th>
                                <th class="text-right" style="width: 10%;"><%= t.invoices.form.invoice_line_table.total_without_taxes %></th>
                                <th style="width: 150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%% for (var idx=0;idx<entity.items.length; idx++) { %>
                            <tr>
                                <td class="text-left"><%%=entity.items[idx].concept%></td>
                                <td class="text-right"><%% if (entity.invoice_type == 'payment') { %>-<%%}%><%%=entity.items[idx].quantity%></td>
                                <td class="text-center"><strong><%%=entity.items[idx].vat_percentage%>%</strong></td>
                                <td class="text-right"><%%=new Number(entity.items[idx].price_without_taxes).toFixed(2)%></td>
                                <td class="text-right"><%% if (entity.invoice_type == 'payment') { %>-<%%}%><%%=new Number(entity.items[idx].total_without_taxes).toFixed(2)%></td>
                                <td>
                                    <%% if (entity.invoice_status == 'draft') { %>
                                    <button type="button" class="btn btn-default modify-order-line-button action-button entity-management-button edit-invoice-item" rel="1746" data-line-idx="<%%=idx%>"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-default element-action-button action-button entity-management-button delete-invoice-item" 
                                        data-action-method="DELETE" 
                                        data-action-url="/api/customer-invoice/<%%=entity.id%>/invoice-item/<%%=entity.items[idx].id%>" 
                                        data-confirm-message="<%=t.invoices.form.invoice_line_table.confirm_delete_item%>"><i class="fa fa-trash"></i></button>
                                    <%% } %>    
                                </td>
                            </tr>
                            <%% } %> 	
                            <tr>
                                <td colspan="4" class="text-right"><strong><%= t.invoices.form.invoice_line_table.subtotal %>:</strong></td>
                                <td class="text-right"><%% if (entity.invoice_type == 'payment') { %>-<%%}%><%%=new Number(entity.subtotal).toFixed(2)%></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right"><strong><%= t.invoices.form.invoice_line_table.taxes %>:</strong></td>
                                <td class="text-right"><%% if (entity.invoice_type == 'payment') { %>-<%%}%><%%=new Number(entity.total_taxes).toFixed(2)%></td>
                                <td></td>
                            </tr>
                            <tr class="success">
                                <td colspan="4" class="text-right text-uppercase"><strong><%= t.invoices.form.invoice_line_table.total %>:</strong></td>
                                <td class="text-right"><strong><%% if (entity.invoice_type == 'payment') { %>-<%%}%><%%=new Number(entity.total).toFixed(2)%></strong></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <%% if (entity.invoice_status == 'draft') { %>
                <div>
                   <button id="new_invoice_line_button" class="btn btn-primary"><%= t.invoices.form.new_invoice_line %></button>
                </div>
                <%% } %>
                <br>   
              </div>
            </div>
          </div>
        </div>  


        <!-- Invoice address -->

        <%% if (entity) { %>
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.invoices.form.invoice_address %></h3>
              </div>
              <div class="block-content">
                  <form name="element" class="form-horizontal" method="POST" autocomplete="off">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.street.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="60" id="customer_address_street" name="customer_address[street]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.street%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.number.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="10" id="customer_address_number" name="customer_address[number]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.number%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.complement.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="20" id="customer_address_complement" name="customer_address[complement]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.complement%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>
                          </div>
                        </div> 

                        <div class="row">
                          <div class="col-md-3">                        
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.city.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="60" id="customer_address_city" name="customer_address[city]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.city%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>
                          </div>
                          <div class="col-md-3">                            
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.state.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="50" id="customer_address_state" name="customer_address[state]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.state%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>
                          </div>
                          <div class="col-md-3">                              
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.zip.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="10" id="customer_address_zip" name="customer_address[zip]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.zip%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>
                          </div>
                          <div class="col-md-3">                              
                            <div class="form-group">
                               <label class="col-md-12"><%= t.address.country.label %></label>
                               <div class="col-md-12">
                                 <input type="text" maxlength="50" id="customer_address_country" name="customer_address[country]" class="form-control" <%% if (entity && entity.customer_address) {%> value="<%%=entity.customer_address.country%>" <%%}%> <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>/>
                               </div>
                            </div>    
                          </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                              <%% if (entity) { %>
                                <%% if (entity.invoice_status == 'draft') { %>
                                <hr>
                                <input type="button" class="pull-right btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                                <%% } %>
                              <%% } %>
                            </div>
                        </div>
                  </form>
              </div>
            </div>
          </div>
        </div>    
        <%% } %>  

        <!-- Notes -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.invoices.form.notes.group %></h3>
              </div>
              <div class="block-content">
                  <form name="element" class="form-horizontal" method="POST" autocomplete="off">
                      <%% if (entity) { %>
                      <input type="hidden" name="id" value="<%%=entity.id%>"/>
                      <%% } %>
                      <div class="form-group">
                         <label class="col-md-3"><%= t.invoices.form.notes.label %></label>
                         <div class="col-md-12">
                           <textarea id="notes" name="notes" class="form-control" rows="4" <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>><%%=entity.notes%></textarea>
                         </div>
                      </div>                             
                      <div class="form-group">
                        <div class="col-md-12">
                          <input type="button" class="pull-right btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>     
                  </form>    
              </div>
            </div>
          </div>    
        </div>          

        <!-- Notifications -->
        
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.invoices.form.notifications.title %></h3>
              </div>
              <div class="block-content">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="table-cell" col="scope" style="width: 20%"><strong><%=t.invoices.form.notifications.table.sent%></strong></td>
                      <td class="table-cell"><%%= entity.invoice_sent ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %></td>
                    </tr>
                    <tr>
                      <td class="table-cell"><strong><%=t.invoices.form.notifications.table.sent_date%></strong></td>
                      <td class="table-cell"><%%= entity.invoice_sent_date ? entity.invoice_sent_date.toString('yyyy-MM-dd HH:mm') : ''%></td>
                    </tr>
                  </tbody>
                </table>        
              </div>
            </div>
          </div>
        </div>           

        <!-- Activity -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block">
              <div class="block-header bg-gray-lighter">
                  <h3 class="block-title">Actividad</h3>
              </div>
              <div id="newsfeed_container" class="block-content block-content-full">
              </div>
            </div>
          </div>
        </div>             
        <%% } %>    
       

</script>

<script type="text/tmpl" id="invoice_item_tmpl">
	<form name="invoice_item_form" class="form-horizontal" method="POST">
	      <%% if (invoice_item) { %>
	      <input type="hidden" name="id" value="<%%=entity.id%>"/>
	      <%% } %>
	      <div class="form-group">
	         <label class="col-md-3 control-label"><%= t.invoices.form.invoice_item.concept.label %></label>
	         <div class="col-md-8">
             <select name="concept" class="form-control"
               <%% if (entity && entity.invoice_status == 'invoice') { %>disabled<%%}%>>
               <option value=""><%= t.invoices.form.select_concept %></option>
               <% @concept.classifier_terms.each do |term| %>
                 <option value="<%=term.name%>" <%% if (invoice_item && invoice_item.concept == '<%=term.name%>') { %>selected<%%}%>><%=term.name%></option>
               <% end %>
             </select>             
	           <input type="text" maxlength="100" id="concept" name="concept" class="form-control" autocomplete="off" <%% if (invoice_item) {%> value="<%%=invoice_item.concept%>" <%%}%>/>
	         </div>
	      </div>
        <div class="form-group">
          <label class="col-md-3 control-label">&nbsp;</label>
          <label class="css-input switch switch-sm switch-primary" style="margin-left: 15px">
              <input type="checkbox" id="item_manual_concept" checked=""><span></span> <%= t.invoices.form.manual_concept.label %>
          </label>
        </div>

	      <div class="form-group">
	         <label class="col-md-3 control-label"><%= t.invoices.form.invoice_item.quantity.label %></label>
	         <div class="col-md-9">
	           <input type="text" id="quantity" name="quantity" class="form-control" autocomplete="off" <%% if (invoice_item) {%> value="<%%=invoice_item.quantity%>" <%%}%>/>
	         </div>
	      </div>           

		  <div class="form-group">                         
		    <label class="col-md-3 control-label"><%= t.invoices.form.invoice_item.vat_type.label %></label>
		    <div class="col-md-9">                           
			    <select name="vat_type" id="vat_type" class="form-control">
			       <% @taxes.vat_types.each do |code, description| %>
			         <option value="<%=code%>" 
			            <%% if (invoice_item && invoice_item.vat_type == '<%=code%>') {%>selected<%%}%>>
			            <%=description%>
			         </option>
			       <% end %>
			    </select>                         
			</div>                       
		  </div>


		  <div class="form-group">
	         <label class="col-md-3 control-label"><%= t.invoices.form.invoice_item.price_without_taxes.label %></label>
	         <div class="col-md-9">
	           <input type="text" id="price_without_taxes" name="price_without_taxes" class="form-control" autocomplete="off" <%% if (invoice_item) {%> value="<%%=invoice_item.price_without_taxes%>" <%%}%>/>
	         </div>
	      </div>  

	      <div class="form-group">
	        <div class="col-md-9 col-md-offset-3">
	            <%% if (invoice_item) { %>
	              <input id="update_invoice_item" type="button" class="btn btn-sm btn-primary" value="<%=t.entitymanagement.update%>"/>
	            <%% } else { %>
	              <input id="create_invoice_item" type="button" class="btn btn-sm btn-primary" value="<%=t.entitymanagement.create%>"/>
	            <%% } %>
	        </div>
	      </div>
	</form>
</script>
